@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Open+Sans&display=swap');

body {
    background-color: #E9F1FA; 
    color: #1B3357;
    font-family: 'Open Sans', sans-serif;;
}

.foto-profilo {
    border-radius: 30px;
}

h1, h2 {
    font-family: 'Lora', serif;;
}

table {
    background-color: #E9F1FA; 
    border-radius: 30px; 
    border-spacing: 10px;
}
