@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Slab&display=swap');

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;;
}

#header-principale {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

h1, h2 {
    font-family: 'Lato', sans-serif;
}

main {
    width: 70%;
    margin: 0 auto;
    background-color: beige;
    padding: 2%;
}

table {
    width: 40%;
    text-align: center;
}

table td, th {
    padding: 2%
}